<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs text-center" role="tablist">
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Register</a></li>
                    <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>

                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="margin-top: 20px;">

                    <!-- register tab begin -->
                    <div role="tabpanel" class="tab-pane" id="profile">
                        <%= render "devise/shared/signup" %>
                    </div><!--register tab end-->

                    <!-- login tab begin -->
                    <div role="tabpanel" class="tab-pane active" id="login">
                        <%= render "devise/shared/signin" %>
                    </div><!--login tab end-->

                </div>

            </div>
        </div>
    </div>
</div>
<div class="divide80"></div>
