<!--rev slider start-->
<div class="fullwidthbanner">
    <div class="tp-banner">
        <ul>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1500" data-title="Powerful Theme">
                <!-- MAIN IMAGE -->
                <img src="/img/bg-3.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <div class="caption title-2 sft"
                     data-x="50"
                     data-y="160"
                     data-speed="1000"
                     data-start="1000"
                     data-easing="easeOutExpo">
                    Karma + Currency<br>
                    = Karmency
                </div>

                <div class="caption text sfl"
                     data-x="50"
                     data-y="310"
                     data-speed="1000"
                     data-start="1800"
                     data-easing="easeOutExpo">
                    Karmency coins are a fun, easy way to tell people "Thank you!"<br>
                    for random acts of kindness. See how far your karma can go!
                </div>
                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="50"
                     data-y="380"
                     data-speed="500"
                     data-start="1800"
                     data-easing="Sine.easeOut">
                    <a href="/coins/lookup" class="btn btn-theme-bg btn-lg">Lookup coin</a>
                </div>

                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="250"
                     data-y="380"
                     data-speed="500"
                     data-start="2100"
                     data-easing="Sine.easeOut">
                    <a href="/coins/new" class="btn border-white btn-lg">Print a new coin</a>
                </div>

            </li>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1500" data-title="Unique Theme">
                <!-- MAIN IMAGE -->
                <img src="/img/bg-4.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">




                <div class="caption text-center-top sft"
                     data-x="center"
                     data-y="210"
                     data-speed="1000"
                     data-start="1400"
                     data-easing="easeOutExpo">
                    Track your coins
                </div>

                <div class="caption text-center-btm sfr text-center"
                     data-x="center"
                     data-y="265"
                     data-speed="1000"
                     data-start="1600"
                     data-easing="easeOutExpo">

                    Check to see where your Karmency coin has been. <br />
                    Report a new transaction to tell others how you got yours. <br/>
                    Then pass it on and check back to see where it goes.

                </div>
                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="390"
                     data-y="380"
                     data-speed="500"
                     data-start="1800"
                     data-easing="Sine.easeOut">
                    <a href="/coins/lookup" class="btn btn-theme-bg btn-lg">Lookup coin</a>
                </div>

                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="570"
                     data-y="380"
                     data-speed="500"
                     data-start="2100"
                     data-easing="Sine.easeOut">
                    <a href="/coins/new" class="btn border-white btn-lg">Print a new coin</a>
                </div>
            </li>
            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="5" data-masterspeed="1500" data-title="Multipurpose">
                <!-- MAIN IMAGE -->
                <img src="/img/bg-1.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                <!-- LAYER NR. 1 -->
                <div class="caption left-tile-text sfr tp-resizeme"
                     data-x="40"
                     data-y="110"
                     data-speed="600"
                     data-start="1200"
                     data-end="9400"
                     data-endspeed="600">Karmency coins
                </div>

                <!-- LAYER NR. 2 -->
                <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                     data-x="40"
                     data-y="170"
                     data-speed="600"
                     data-start="1600"
                     data-end="9400"
                     data-endspeed="600"><i class="fa fa-check"></i>
                </div>

                <!-- LAYER NR. 3 -->
                <div class="caption modern_big_bluebg sfb medium tp-resizeme"
                     data-x="90"
                     data-y="170"
                     data-speed="600"
                     data-start="1600"
                     data-end="9400"
                     data-endspeed="600">Print new coins
                </div>

                <!-- LAYER NR. 4 -->
                <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                     data-x="40"
                     data-y="220"
                     data-speed="600"
                     data-start="1800"
                     data-end="9400"
                     data-endspeed="600"><i class="fa fa-check"></i>
                </div>

                <!-- LAYER NR. 5 -->
                <div class="caption modern_big_bluebg sfb medium tp-resizeme"
                     data-x="90"
                     data-y="220"
                     data-speed="600"
                     data-start="1800"
                     data-end="9400"
                     data-endspeed="600">Track coins you've received
                </div>

                <!-- LAYER NR. 6 -->
                <div class="caption medium_bg_darkblue sfl medium tp-resizeme"
                     data-x="40"
                     data-y="270"
                     data-speed="600"
                     data-start="2000"
                     data-end="9400"
                     data-endspeed="600"><i class="fa fa-check"></i>
                </div>

                <!-- LAYER NR. 7 -->
                <div class="caption modern_big_bluebg sfb medium tp-resizeme"
                     data-x="90"
                     data-y="270"
                     data-speed="600"
                     data-start="2000"
                     data-end="9400"
                     data-endspeed="600">Pass your coins on
                </div>

                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="50"
                     data-y="340"
                     data-speed="500"
                     data-start="1800"
                     data-easing="Sine.easeOut">
                    <a href="/coins/lookup" class="btn btn-theme-bg btn-lg">Lookup coin</a>
                </div>

                <div class="caption sfb rev-buttons tp-resizeme"
                     data-x="250"
                     data-y="340"
                     data-speed="500"
                     data-start="2100"
                     data-easing="Sine.easeOut">
                    <a href="/coins/new" class="btn border-white btn-lg">Print a new coin</a>
                </div>

            </li>
        </ul>
    </div>
    <a name="how"></a>
</div><!--full width banner-->
<!--revolution end-->

<div class="divide60"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="center-heading">
                <h2>How it works</h2>
                <span class="center-line"></span>
                <p class="sub-text margin40">
                    Karmency is 3D-printed currency designed to be passed around to thank people for random acts of kindness. On this site, you can <strong><a href="/coins/lookup">look up</a></strong> your Karmency Coin to see its history, tell the world how you got it, or let us know why you passed it on. You can also download a 3D model of a new coin and print your own!
                </p>
            </div>
        </div>

    </div><!--center heading end-->
    <div class="divide50"></div>
    <div class="row">
        <div class="col-md-4 col-sm-6 margin30">
            <div class="colored-boxed green">
                <i class="fa fa-search"></i>
                <h3><a href="/coins/lookup">Look up a coin</a></h3>
                <span class="center-line"></span>
                <p>
                    You can look up a coin using the unique 4-digit<br>
                    code printed on every coin.
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-4 col-sm-6 margin30">
            <div class="colored-boxed dark">
                <i class="fa fa-bar-chart"></i>
                <h3>View coin stats</h3>
                <span class="center-line"></span>
                <p>
                    View stats like number of coins printed by area or<br>
                    coins with most transactions.
                </p>
            </div>
        </div><!--colored boxed col end-->
        <div class="col-md-4 col-sm-6 margin30">
            <div class="colored-boxed blue">
                <i class="fa fa-print"></i>
                <h3>3D print coins</h3>
                <span class="center-line"></span>
                <p>
                    Download 3D models of new coins and print them yourself!
                </p>
            </div>
        </div><!--colored boxed col end-->
    </div>
</div><!--services container-->

<section class="fun-fact-wrap fun-facts-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">10</span> +</h3>
                <h4>Coins printed</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">10</span></h3>
                <h4>Transactions</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">10</span> +</h3>
                <h4>Cities</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><span class="counter">10</span></h3>
                <h4>States and territories</h4>
            </div><!--facts in-->
        </div>
    </div>
    <a name="what"></a>
</section><!--fun facts-->

<div class="testimonials-v-2 wow animated fadeInUp" data-wow-duration="700ms" data-wow-delay="100ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="center-heading">
                    <h2>What people are saying</h2>
                    <p>Tweet <strong><a href="#">@givekarmency</a></strong> to tell us what you think!</p>
                    <span class="center-line"></span>

                </div>
            </div>
        </div><!--center heading end-->

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2">
                <div class="testi-slide">
                    <ul class="slides">
                        <li>
                            <img src="/img/customer-1.jpg" alt="">
                            <p>
                                <i class="ion-quote"></i>
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.
                            </p>
                            <h4 class="test-author">
                                Rick man - <em>rock inc</em>
                            </h4>
                        </li><!--testi item-->
                        <li>
                            <img src="/img/customer-2.jpg" alt="">
                            <p>
                                <i class="ion-quote"></i>
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years </p>
                            <h4 class="test-author">
                                Jellia - <em>Founder of tinka inc</em>
                            </h4>
                        </li><!--testi item-->
                        <li>
                            <img src="/img/customer-3.jpg" alt="">
                            <p>
                                <i class="ion-quote"></i>
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor.</p>
                            <h4 class="test-author">
                                Smith - <em>Ceo, company inc.</em>
                            </h4>
                        </li><!--testi item-->
                    </ul>
                </div><!--flex slider testimonials end here-->
            </div>
        </div><!--testi slider row end-->

    </div>
    <a name="who"></a>
</div><!--testimonials v-2 end-->
<div class="divide40"></div>
<div class="our-team-v-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>Our Team</h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div>
        <p class="sub-text margin40" style="text-align: center;">
            The Karmency team – well, it's really just two of us – met in web immersion <br>
            class as the <strong><a href="https://www.flatironschoool.com/">Flatiron School</a></strong>. After the program, our shared interest in 3D printing, <br>
            positive social experiments, and of course hacking led us to build Karmency.

        </p>

        <div class="row">
            <div class="col-sm-3 text-center col-md-offset-3">
                <div class="person-v2">
                    <img src="/img/team-5.jpg" class="img-responsive" alt="">
                    <div class="person-desc-v2">
                        <h3>Chad Ruble</h3>
                        <em>Dude</em>
                        <ul class="list-inline top-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div><!--person col end-->
            <div class="col-sm-3 text-center">
                <div class="person-v2">
                    <img src="/img/team-6.jpg" class="img-responsive" alt="">
                    <div class="person-desc-v2">
                        <h3>Parker Lawrence</h3>
                        <em>Other dude</em>
                        <ul class="list-inline top-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <!--                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>-->
                        </ul>
                    </div>
                </div>
            </div><!--person col end-->
        </div>
    </div>
</div><!--our team v-2-->
