<!-- Giver/Receiver heading -->
<div class="timeline-heading">
    <div style="height: 180px; padding-top: 30px;">
        <!-- Giver -->
        <div class="col-xs-5" style="height: 100%">
            <img height="80px" width="80px" class="giver-receiver-thumb img-circle" src="http://graph.facebook.com/10204374667038619/picture">
            <p class="giver-receiver-text">
                <strong>Parker L.</strong>
                <br>
                Giver
            </p>
        </div>
        <!-- Arrow -->
        <div class="col-xs-2 giver-receiver-arrow">
            <i class="fa fa-arrow-right"></i>
        </div>
        <!-- Receiver -->
        <div class="col-xs-5" style="height: 100%">
            <img height="80px" width="80px" class="giver-receiver-thumb img-circle" src="http://graph.facebook.com/10204374667038619/picture">
            <p class="giver-receiver-text" style="text-align: center; margin-top: 10px;">
                <strong>Parker L.</strong>
                <br>
                Receiver
            </p>
        </div>
    </div>
</div>
