<div class="well container">
    <div class="col-md-2">
        <h1><%= "#{moment.month} #{moment.day}" %></h1>
    </div>
    <div class="user-thumb col-md-2">
        <img src="http://www.online-image-editor.com//styles/2014/images/example_image.png" alt="sheep" class="img-thumbnail">
    </div>
    <div class="user-name col-md-2">
        <h3>Receiver</h3>
        <p><%= moment.receiver_name %></p>
    </div>
    <div class="moment-location col-md-2">
        <h3>Location</h3>
        <p><%= moment.location %></p>
    </div>
    <div class="moment-description col-md-4">
        <h3>Description</h3>
        <p><%= moment.description %></p>
    </div>
</div>
