<div class="col-md-8 margin30 sky-form-columns col-md-offset-2">
    <div class="divide40"></div>
    <!--sky form -->
    <h3 class="margin20">Tell us about your Karmency transaction!</h3>

    <form action="" id="sky-form" class="sky-form">
        <fieldset>
            <section>
                <div class="inline-group">
                    <label class="radio"><input type="radio" name="radio-inline" checked=""><i></i>I received the coin from someone else</label>
                    <label class="radio"><input type="radio" name="radio-inline"><i></i>I gave the coin to someone else</label>
                </div>
            </section>
            <label class="label">Description</label>
            <section>
                <label class="textarea">
                    <textarea rows="3" name="info" placeholder="e.g. 'He gave me his seat on the subway'"></textarea>
                </label>
            </section>
        </fieldset>

        <fieldset>
            <label class="label">Date & Location</label>
            <div class="row">
                <section class="col col-4">
                    <label class="input">
                        <i class="icon-append fa fa-calendar"></i>
                        <input type="text" name="date" id="date">
                    </label>
                </section>
                <section class="col col-4">
                    <label class="select">
                        <select name="state">
                            <option value="0" selected="" disabled="">State</option>
                            <option value="53">Non-U.S.</option>
                            <option value="1">Alaska</option>
                        </select>
                        <i></i>
                    </label>
                </section>

                <section class="col col-4">
                    <label class="input">
                        <input type="text" name="city" placeholder="City">
                    </label>
                </section>
            </div>
        </fieldset>
        <div class="divide30"></div>
        <hr>
        <div class="divide30"></div>
        <footer class="text-right">
            <button type="submit" class="btn btn-theme-dark btn-lg">Submit</button>
        </footer>
    </form>
    <!--sky form end here-->
</div>

<!--sky form plugin js-->
<script src="/sky-form/js/jquery.form.min.js" type="text/javascript"></script>
<script src="/sky-form/js/jquery.maskedinput.min.js" type="text/javascript"></script>
<script src="/sky-form/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="/sky-form/js/jquery-ui.min.js"></script>

<script type="text/javascript">
 $(function()
     {
         // Regular datepicker
         $('#date').datepicker({
             dateFormat: 'dd.mm.yy',
             prevText: '<i class="fa fa-chevron-left"></i>',
             nextText: '<i class="fa fa-chevron-right"></i>'
         });

         // Date range
         $('#start').datepicker({
             dateFormat: 'dd.mm.yy',
             prevText: '<i class="fa fa-chevron-left"></i>',
             nextText: '<i class="fa fa-chevron-right"></i>',
             onSelect: function( selectedDate )
             {
                 $('#finish').datepicker('option', 'minDate', selectedDate);
             }
         });
         $('#finish').datepicker({
             dateFormat: 'dd.mm.yy',
             prevText: '<i class="fa fa-chevron-left"></i>',
             nextText: '<i class="fa fa-chevron-right"></i>',
             onSelect: function( selectedDate )
             {
                 $('#start').datepicker('option', 'maxDate', selectedDate);
             }
         });

         // Inline datepicker
         $('#inline').datepicker({
             dateFormat: 'dd.mm.yy',
             prevText: '<i class="fa fa-chevron-left"></i>',
             nextText: '<i class="fa fa-chevron-right"></i>'
         });

         // Inline date range
         $('#inline-start').datepicker({
             dateFormat: 'dd.mm.yy',
             prevText: '<i class="fa fa-chevron-left"></i>',
             nextText: '<i class="fa fa-chevron-right"></i>',
             onSelect: function( selectedDate )
             {
                 $('#inline-finish').datepicker('option', 'minDate', selectedDate);
             }
         });
         $('#inline-finish').datepicker({
             dateFormat: 'dd.mm.yy',
             prevText: '<i class="fa fa-chevron-left"></i>',
             nextText: '<i class="fa fa-chevron-right"></i>',
             onSelect: function( selectedDate )
             {
                 $('#inline-start').datepicker('option', 'maxDate', selectedDate);
             }
         });
     });
</script>
