<footer id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>About Karmency</h3>
                    <p>
                        Karmency is a social experiment to track physical karma currency. We hope you'll join in the fun and help us see how far the karma can go.
                    </p>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contact</h3>

                    <ul class="list-unstyled contact">
                        <li><p><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="#">team@karmency.org</a></p></li>
                        <li><p><strong><i class="fa fa-twitter"></i> Twitter:</strong> <a href="#">@givekarmency</a></p></li>
                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Spread the word</h3>
                    <p>
                        Share on Facebook or Twitter to help get the word out!
                    </p>
                    <ul class="list-inline social-1">
                        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//www.karmency.org"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/home?status=Check%20out%20Karmency%20-%203-D%20printed%20currency%20for%20recognizing%20and%20tracking%20good%20deeds.%20http%3A//www.karmency.org"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Site Map</h3>
                    <a href="/">About</a>
                    <ul>
                        <li><a href="/#how">How it works</a></li>
                        <li><a href="/#who">Our Team</a></li>
                    </ul>
                    Coins
                    <ul>
                        <li><a href="/coins/lookup">Lookup a coin</a></li>
                        <li><a href="/coins/new">Create a new coin</a></li>
                        <li><a href="/coins">Browse Coins</a></li>
                    </ul>
                </div>
            </div><!--footer col-->

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm">
                    <span>&copy;2015 Karmency.org</span>
                </div>
            </div>
        </div>
    </div>
</footer><!--default footer end here-->
