<li class="dropdown active ">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_user.first_name%> <i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
        <li><a href="/coins?my_coins=true">My Coins</a></li>
        <li><a href="/coins/new">Create a new coin</a></li>
        <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
    </ul>
</li>
<!-- End User Logged In Navbar -->
