<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding-top: 9px;"><img src="/img/logo.png" alt="Karmency" style="width: 120px"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- About -->
                <li class="dropdown active ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="/">Main</a></li>
                        <li><a href="/#how">How it works</a></li>
                        <li><a href="/#what">What people are saying</a></li>
                        <li><a href="/#who">Our team</a></li>

                    </ul>
                </li>
                <!-- End About -->

                <!-- Coins -->
                <li class="dropdown active ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coins <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="/coins/lookup">Lookup a coin</a></li>
                        <li><a href="">Browse coins</a></li>
                        <li><a href="">Create a new coin</a></li>
                        <li><a href="">My coins</a></li>

                    </ul>
                </li>
                <!-- End Coins -->

                <!-- Groups -->
                <li class="dropdown active ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                        <li><a href="">Browse groups</a></li>
                        <li><a href="">Create a group</a></li>
                        <li><a href="">My groups</a></li>

                    </ul>
                </li>
                <!-- End Groups -->




                <li class="dropdown" id="user-info-dropdown">
                    <% if user_signed_in? %>
                        <!-- User Logged In Navbar -->
                        <%= render partial: 'layouts/navbar_user_info' %>

                    <% else %>

                    <!-- Begin User Not Signed In In Navbar -->


                    <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i> Sign In</a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">

                    <%= render "devise/registrations/signin" %>
                    <hr>
                    <p>
                        Don't have an account?
                        <%= link_to "Register Now", new_user_registration_path %>
                    </p>


                    </div>
                    <% end %>
                    <!-- END User Not Signed In In Navbar -->

                </li> <!--menu login li end here-->
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--container-->
</div><!--navbar-default-->
