<div class="divide40"></div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 margin30">
            <div class="divide10"></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            Coin &nbsp; &nbsp;
                        </th>
                        <th>
                            Creator
                        </th>
                        <th>
                            Creation location
                        </th>
                        <th style="text-align: center">
                            # of transactions
                        </th>
                        <th>
                            Last transaction location
                        </th>
                        <th>
                            Alerts<br>
                            (Toggle on/off)
                        </th>
                    </tr>
                    <%= render @coins %>

                    </tbody>
            </table><!--cart table end-->
            <% if @coins.size == 0 %>
                <tr>
                    &nbsp; Sorry  - there's nothing here because you haven't created, given, or received any coins yet.
                </tr>
            <% end %>
        </div>
        <div class="col-md-3 col-md-offset-1 shop-sidebar">
            <div class="sidebar-box margin40">
                <h4>Search</h4>
                <form role="form" class="search-widget">
                    <input type="text" class="form-control">
                    <i class="fa fa-search"></i>
                </form>
            </div><!--sidebar-box-->

            <div class="sidebar-box margin40">
                <h4>Popular locations</h4>
                <ul class="list-unstyled cat-list">
                    <li> <a href="#">New York, NY</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">San Francisco, CA</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Brooklyn, NY</a> <i class="fa fa-angle-right"></i></li>
                    <li> <a href="#">Bridgeport, WV</a> <i class="fa fa-angle-right"></i></li>
                </ul>
            </div><!--sidebar-box-->
        </div><!--sidebar-->
    </div>
</div><!--shop columns container end-->

