<style>
 .colored-link {
     color: #E74C67;
 }
</style>

<div class="divide30"></div>

<div class="container">
    <div class="row">
        <div class="col-md-4 margin30">
            <h3 class="heading">Services by me</h3>
            <ul class="services-me list-unstyled">
                <li><i class="fa fa-image"></i> Web Design</li>
                <li><i class="fa fa-desktop"></i> Responsive Layout</li>
                <li><i class="fa fa-html5"></i> HTML5 and CSS3</li>
            </ul>
        </div><!--my services-->
        <div class="col-md-7 col-md-offset-1">
            <h3 class="heading">my skills</h3>
            <div class="skills-wrapper wow animated bounceIn animated animated animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; -webkit-animation-delay: 0.2s; animation-name: bounceIn; -webkit-animation-name: bounceIn;">
                <h3 class="heading-progress">Web Design <span class="pull-right">88%</span></h3>
                <div class="progress">
                    <div class="progress-bar" style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar">
                    </div>
                </div>
                <h3 class="heading-progress">Web Development <span class="pull-right">78%</span></h3>
                <div class="progress">
                    <div class="progress-bar" style="width: 78%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar">
                    </div>
                </div>
                <h3 class="heading-progress">Marketing <span class="pull-right">82%</span></h3>
                <div class="progress">
                    <div class="progress-bar" style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                    </div>
                </div>
            </div>
        </div><!--my skills-->
    </div>
</div>

<div class="divide20"></div>

<div class="breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h4>Transactions // <a href="#" class="colored-link">+ Add a new transaction</a></h4>
            </div>
        </div>
    </div>
</div><!--breadcrumbs-->

<div class="divide20"></div>
<!--=== Content Part ===-->
<div class="container">
    <ul class="timeline">
        <% icons = ["fa-smile-o","fa-motorcycle","fa-bolt","fa-certificate", "fa-dot-circle-o", "fa-bug", "fa-gift", "fa-eye", "fa-heart-o", "fa-futbol-o", "fa-globe", "fa-life-buoy", "fa-moon-o", "fa-paper-plane-o","fa-heart","fa-rocket", "fa-puzzle-piece", "fa-star-o", "fa-thumbs-up", "fa-umbrella", "fa-truck", "fa-trophy", "fa-wrench"] %>
        <% @moments.each_with_index do |moment, index| %>
            <% if index % 2 == 0 %>
                <li>
                    <div class="timeline-badge primary"><i class="fa <%= icons.sample %>"></i></div>
                    <%= render partial: 'moments/moment', locals: {moment: moment} %>
                </li>
            <% else %>
                <li class="timeline-inverted">
                    <div class="timeline-badge primary"><i class="fa <%= icons.sample %> invert"></i></div>
                    <%= render partial: 'moments/moment', locals: {moment: moment} %>
                </li>
            <% end %>
        <% end %>
        <li class="clearfix" style="float: none;"></li>
    </ul>
</div><!--/container-->
<!-- End Content Part -->
